/*********************************/
/*         cookiebar bar         */
/*********************************/
.kees-css-cookiebar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.kees-css-cookiebar-container > .container{
    box-shadow: 0 -2px 20px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 20px;
}

.kees-css-cookiebar-container span.cookiebar-label{
    font-weight: bolder;
}


/*********************************/
/*         cookiebar radio       */
/*********************************/
.kees-css-cookiebar-radio input[type="radio"] {
    margin: 4px 0 0;
    line-height: normal;
}
.kees-css-cookiebar-radio label {
    padding: 15px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

/*********************************/
/*         cookies page          */
/*********************************/
.kees-css-cookiebar-page{
    margin-top: 50px;
}
