{#
/**
 * @file
 * Default template implementation to display the cookiebar block.
 *
 * Available variables:
 *   - Theme
 *   - isCookie
 *   - label
 *   - text
 *   - accept_button_text
 *   - decline_button_text
 *
 * @see template_preprocess_kees_cookiebar()
 *
 * @ingroup themeable
 */
#}
{% if not isCookie %}
    <div class="kees-css-cookiebar-container kees-js-cookiebar-container">
        <div class="cookiebar">
            <span class="cookiebar-label">{{ label }}</span>
            {{ text }}
            <a href="javascript();" id="true" class="btn btn-primary kees-js-cookiebar-button">{{ accept_button_text }}</a>
            <a href="javascript();" id="false" class="btn btn-danger kees-js-cookiebar-button">{{ decline_button_text }}</a>

        </div>
    </div>
{% endif %}