<div id="cookie-settings" class="row cookiebar-radio">
    <div class="col-md-12">
        <label class="btn btn-success">
            <input type="radio" name="cookies" id="cookiesRadioTrue" value="true" {% if "true" == cookieValue['#markup'] %}checked{% endif %}> Cookies accepteren
        </label>
        <label class="btn btn-danger">
            <input type="radio" name="cookies" id="cookiesRadioFalse" value="false" {% if "false" == cookieValue['#markup'] %}checked{% endif %}> Cookies afwijzen
        </label>
    </div>
</div>